.slidesList {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px auto 0;

    gap: 10px;

    width: fit-content;
    max-width: 80%;
    height: 145px;
    box-sizing: content-box;
    overflow-x: scroll;

    background: #FFF7CE;
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.25);
    border-radius: 5px;

    z-index: 49;
}

.slidesList::-webkit-scrollbar {
    display: none;
}

.selectedSlide {
    box-shadow: 0 0 4px 3px rgba(255, 138, 0, 0.5);
}