.slidesList {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px auto 0;

    gap: 10px;

    max-width: 80%;
    height: 145px;
    box-sizing: content-box;
    overflow-x: scroll;

    background: #FFF7CE;
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.25);
    border-radius: 5px;

    z-index: 49;
}

.slidesList::-webkit-scrollbar {
    display: none;
}

.selectedSlide {
    box-shadow: inset 0 0 18px 9px rgb(255 138 0 / 50%);
}

.currentSlide {
    box-shadow: 0 0 16px 6px rgb(255 71 0 / 50%);
}