.toolBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 8px;

    width: 62px;
    height: fit-content;

    background: #FFF7CE;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 10px 0;

    z-index: 49;
}

.tool {
    padding: 4px 11px;

    box-sizing: border-box;
    width: 100%;
    height: 48px;

    background: #FFF7CE;

    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.tool:hover {
    background: #FFEE95;
}

.tool:active {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
}

.toolSelected {
    background: #FFEE95;
}