.block {
    position: absolute;
}

.transformBlock {
    position: relative;
    height: 100%;
    width: 100%;
}

.middleRotate {
    position: absolute;
    left: calc(50% - 7px);
    top: -25px;
    width: 20px;
    height: 20px;
}

.Point {
    position: absolute;
    width: 16px !important;
    height: 16px !important;
}

.topLeftPoint {
    left: -7px;
    top: -7px;
}

.topRightPoint {
    right: -11px;
    top: -7px;
}

.bottomLeftPoint {
    left: -7px;
    bottom: -11px;
}

.bottomRightPoint {
    right: -11px;
    bottom: -11px;
}

.bottomRightPoint:hover {
    fill: red;
    color: red;
}

