.informationPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 8px 8px;

    gap: 24px;

    width: 280px;

    background: #FFF7CE;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);

    flex-shrink: 0;
    z-index: 49;
}

.propertiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 8px;
    gap: 12px;

    box-sizing: border-box;
    width: 100%;

    background: #FFF7CE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.propertiesTitle {
    font-weight: 700;
    font-size: 24px;
}

.properties {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    box-sizing: border-box;
    width: 100%;

    font-size: 16px;
}

.properties div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    white-space: nowrap;
}

.properties div input {
    width: 100%;
}
