.informationPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 8px 8px;
    justify-content: space-between;

    width: 280px;

    background: #FFF7CE;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);

    flex-shrink: 0;
    z-index: 49;
}

.propertyBlocks {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.propertiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 8px;
    gap: 12px;

    box-sizing: border-box;
    width: 100%;

    background: #FFF7CE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.propertiesTitle {
    font-weight: 700;
    font-size: 24px;
}

.properties {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    box-sizing: border-box;
    width: 100%;

    font-size: 16px;
}

.property {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    white-space: nowrap;
}

.propertyField {
    background: #FFEE95;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
    border: none;
    outline: none;
    padding: 4px 4px;

    width: 100%;
}

.propertyButton {
    padding: 4px;

    width: 26px;
    height: 26px;
    cursor: pointer;

    background: #FFEE95;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.propertyButtonSelected {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.propertyButton svg {
    width: 100% !important;
    height: 100% !important;
}
