.editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.slideField {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px 10px;


    box-sizing: border-box;
    width: 100%;
    height: 100%;
}



